<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI_Study</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/countdown.css">
</head>
<body>
    <div class="countdown_container_white" id="AI_Study">
        <img src="../../images/home/AI_Study.png" class="countdown_container_white_img">
        <h3 class="countdown_remain"></h3>
        <h1 class="countdown_container_white_title">AI-Study</h1>
        <h4 class="countdown_container_white_subtext">머신러닝을 처음 배울 때, 참고하면 좋은 책들과 강의들을 듣고 정리해놨습니다. 컴퓨터 사이언스나 수학에 대한 지식이 없어도 쉽게 이해할 수 있도록 정리해보겠습니다.</h4>
        <div class="countdown_since">2019-02-01</div>
    </div>
    <script type="text/javascript" src="../../assets/js/src/countdown.js"></script>
</body>
</html>