<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI_Study</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/countdown.css">
</head>
<body>
    <div class="countdown_container">
        <h1>Start Date</h1>
        <div class="countdown_remain"> </div>
        <h3>Start since</h3>
        <div class="countdown_since">2019/02/01 09:00:00</div>
    </div>
    <script type="text/javascript" src="../../assets/js/src/countdown.js"></script>
</body>
</html>