<div class="countdown_container_white" id="Algorithm_Study">
    <img src="../../images/home/Algorithm_Study.jpg" class="countdown_container_white_img">
    <div class="countdown_container_white_box">
        <h3 class="countdown_remain"></h3>
        <h1 class="countdown_container_white_title">Algorithm-Study</h1>
        <h4 class="countdown_container_white_subtext">Computer Science를 한다면 알아야하는 필수적인 알고리즘 이론 및 구현(Python3)</h4>
        <h4 class="countdown_container_white_subtext_post">100 Posts</h4>
        <div class="countdown_since">2019-02-01</div>
    </div>
</div>