<div class="countdown_container_white" id="Linear_Algebra_Study">
    <img src="../../images/home/AI_Study.png" class="countdown_container_white_img">
    <div class="countdown_container_white_box">
        <h3 class="countdown_remain"></h3>
        <h1 class="countdown_container_white_title">Linear Algebra-Study</h1>
        <h4 class="countdown_container_white_subtext">인공지능 공부에 꼭 필요하다는 선형대수 공부, 제가 직접 해보겠습니다.</h4>
        <h4 class="countdown_container_white_subtext_post">100 Posts</h4>
        <div class="countdown_since">2019-02-01</div>
    </div>
</div>