<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI_Study</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/countdown.css">
</head>
<body>
    <div<img src="../../images/home/Startup.png" class="countdown_container_white_img">
    <h3 class="countdown_remain"></h3>
    <h1 class="countdown_container_white_title">on Media</h1>
    <h4 class="countdown_container_white_subtext">신문에 나온 기사들을 정리해보았습니다.</h4>
    <h4 class="countdown_container_white_subtext_post">100 Posts</h4>
    <div class="countdown_since">2019-02-01</div>
    </div>
    <script type="text/javascript" src="../../assets/js/src/countdown.js"></script>
</body>
</html>