<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI_Study</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/countdown.css">
</head>
<body>
    <div class="countdown_container_white" id="Startup">
        <img src="../../images/home/Startup.png.png" class="countdown_container_white_img">
        <h3 class="countdown_remain"></h3>
        <h1 class="countdown_container_white_title">Startup, Pillow Studio</h1>
        <h4 class="countdown_container_white_subtext">Pillow Studio를 크루들과 함께 운영하면서 배운 것들을 적습니다. 제가 겪은 시행착오와 팁들을 메모할 것입니다.</h4>
        <h4 class="countdown_container_white_subtext_post">100 Posts</h4>
        <div class="countdown_since">2019-02-01</div>
    </div>
    <script type="text/javascript" src="../../assets/js/src/countdown.js"></script>
</body>
</html>