<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI_Study</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/countdown.css">
</head>
<body>
    <div class="countdown_container_white" id="TECH">
        <img src="../../images/home/Startup.png" class="countdown_container_white_img">
        <h3 class="countdown_remain"></h3>
        <h1 class="countdown_container_white_title">Tech Review</h1>
        <h4 class="countdown_container_white_subtext">직접 구입해서 사용해본 IT 기기들 리뷰들입니다. 느꼈던 장, 단점을 올려보겠습니다.</h4>
        <h4 class="countdown_container_white_subtext_post">100 Posts</h4>
        <div class="countdown_since">2019-02-01</div>
    </div>
    <script type="text/javascript" src="../../assets/js/src/countdown.js"></script>
</body>
</html>