<div class="countdown_container_white" id="AI_Study">
    <img src="../../images/home/Web_Dev.jpg" class="countdown_container_white_img">
    <div class="countdown_container_white_box">
        <h3 class="countdown_remain"></h3>
        <h1 class="countdown_container_white_title">Web Development</h1>
        <h4 class="countdown_container_white_subtext">웹을 만들면서 배운 점들, 노하우 등을 적어두겠습니다.</h4>
        <h4 class="countdown_container_white_subtext_post">100 Posts</h4>
        <div class="countdown_since">2019-02-01</div>
    </div>
</div>