<article id="all_countdown_chapter">
    <header id="all_countdown_chapter_header">
        <span id="logo">iknowsteven</span>
        <nav id="all_countdown_chapter_header_nav">
            <a class="home_main_link" href="#home_main_container" style="color: #fff;"><li>Bio</li></a>
            <a class="home_main_link" href="#all_countdown_container" style="color: #fff;"><li>Board</li></a>
            <a class="home_main_link" href="#" style="color: #fff;"><li style="margin-right: 0">Contacts</li></a>
        </nav>
    </header>
    <p id="all_countdown_title">More waters to explore</p>
    <p id="all_countdown_subtitle">Extraordinary Projects</p>
</article>