.countdown_container_white {
    width: 300px;
    height: 300px;
    border-color: #2aa198;
    color: #FFFFFF;
    margin: auto;
    position: relative;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.countdown_container_white h1 {
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform:translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
}

.countdown_container_white h3 {
    position:absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

@media ( max-width: 1000px ) {
    .countdown_container_white {
        width: calc(33.3vw - 26.7px);
        height: calc(33.3vw - 26.7px);
    }
}

.countdown_since {
    display: none;
}

#AI_Study {
    background: url("../../images/home/AI_Study.png") no-repeat center center;
}

#Startup {
    background: url("../../images/home/Startup.png") no-repeat center center;
}

#Travel {
    background: url("../../images/home/Startup.png") no-repeat center center;
}