.countdown_container {
    width: 400px;
    height: 300px;
    border-color: #2aa198;
}

.countdown_since {
    display: none;
}

#AI_Study {
    background-image: url("../../images/home/AI_Study.png");
    background-size: 100%;
    background-repeat: no-repeat;
}