.countdown_container_white {
    width: 300px;
    height: 300px;
    border-color: #2aa198;
    color: #FFFFFF;
    margin: auto;
    position: relative;
}

.countdown_container_white h1 {
    display: block;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.countdown_container_white h3 {
    position:absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 0px;
}

.countdown_since {
    display: none;
}

#AI_Study {
    background-size: 100%;
    background: url("../../images/home/AI_Study.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}