html {
    background: #2c2d33;
}

#all_countdown_container {
    margin: auto;
}

#home_main_container {
    width: 100%;
    height: 100vh;
    margin: auto;
}

#home_main {
    width: 36rem;
    max-width: 550px;
    height: 480px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#home_main img {
    border-radius: 50%;
    border: 3px solid #fff;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform:translateX(-50%);
}