html {
    background: #2c2d33;
}

#all_countdown_container {
    margin: auto;
}

#home_main_container {
    width: 100%;
    height: 100vh;
    margin: auto;
}

#home_main {
    width: 36rem;
    max-width: 550px;
    height: 480px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(40, 40, 40, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#home_main img {
    border-radius: 50%;
    border: 3px solid #fff;
    height: 150px;
    width: 150px;
    position: relative;
    top: 15px;
    left: 50%;
    transform:translateX(-50%);
}

#home_main h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #282828;
 }

#home_main h3 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#home_main_bio_container {
    width: 95%;
    max-width: 510px;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
    bottom: 15px;
    text-align: center;
}

.home_main_bio {
    display: inline-block;
    box-shadow: 0 0 1px 0 rgba(40,40,40,0.5);
    height: 40px;
    line-height: 40px;
    margin: 5px 10px 5px 10px;
    padding: 0 10px 0 10px;
}

.hr_line {
    border: 0;
    height: 1px;
    opacity: .15;
    margin: 1em 0;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}