<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iknowsteven</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
</head>
<body>
<section id="home_main_container">
    <article id="home_main">
        <img src="../images/Profile.png">
        <h1>iknowsteven</h1>
        <h3>Just Cool Stuff</h3>
        {% include social-links.html %}
        <div>
            <div>#Pillow_Studio_Senior_Director</div>
            <div>#Blankit_CEO</div>
            <div>#Dodam_CTO</div>
        </div>
    </article>
</section>
<article id="all_countdown_container">
    {% include countdown/AI_Study.html %}
    {% include countdown/Startup.html %}
</article>
</body>
</html>