<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iknowsteven</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<section id="home_main_container">
    <article id="home_main">
        <img id="home_main_profile" src="../images/Profile.png">
        <h1>iknowsteven</h1>
        <h3>(0, 0, 0, 0)</h3>
        <hr class="hr_line">
        <div id="home_main_social_container">
            <a class="home_main_link" href="https://www.github.com/iknowsteven"><p class="home_main_social_black"><img class="home_main_social_img" src="../images/social/github-logo.svg" alt="Github"></p></a>
            <a class="home_main_link" href="https://www.linkedin.com/in/iknowsteven/"><p class="home_main_social_gray"><img class="home_main_social_img" src="../images/social/linkedin-logo.svg" alt="LinkedIn"></p></a>
            <a class="home_main_link" href="https://www.facebook.com/steven.ahn.186"><p class="home_main_social_black"><img class="home_main_social_img" src="../images/social/facebook-logo.svg" alt="Facebook"></p></a>
            <a class="home_main_link" href="https://www.instagram.com/iknowsteven/"><p class="home_main_social_gray"><img class="home_main_social_img" src="../images/social/instagram-logo.svg" alt="Instagram"></p></a>
        </div>
        <hr class="hr_line">
        <div id="home_main_bio_container">
            <a class="home_main_link" href="https://www.pillowstudio.co.kr"><p class="home_main_bio">#Pillow_Studio_Senior_Director</p></a>
            <a class="home_main_link" href="https://www.blossom.wiki"><p class="home_main_bio">#Blankit_CEO</p></a>
            <a class="home_main_link" href="https://www.dodam.care"><p class="home_main_bio">#Dodam_CTO</p></a>
            <p class="home_main_bio">#Computer Science</p>
            <p class="home_main_bio">#Statistics</p>
        </div>
    </article>
</section>
<section id="all_countdown_container">
    <article id="all_countdown_chapter">
        <header id="all_countdown_chapter_header">
            <span id="logo">iknowsteven</span>
            <nav id="all_countdown_chapter_header_nav">
                <li>Bio</li>
                <li>Board</li>
                <li style="margin-right: 0">Contacts</li>
            </nav>
        </header>
        <p id="all_countdown_title">More waters to explore</p>
        <p id="all_countdown_subtitle">Extraordinary Projects</p>
    </article>
    <article id="all_countdown">
        {% include countdown/Startup.html %}
        {% include countdown/AI_Study.html %}
        {% include countdown/Linear_Algebra_Study.html %}
        {% include countdown/Algorithm_Study.html %}
        {% include countdown/Web_Development.html %}
        {% include countdown/Travel.html %}
        {% include countdown/TECH.html %}
        {% include countdown/Book.html %}
        {% include countdown/Media.html %}
    </article>
    <script type="text/javascript" src="../../assets/js/src/countdown.js"></script>
</section>
</body>
</html>