<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iknowsteven's blog</title>
    <link rel="stylesheet" type="text/css" href="../../assets/css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
</head>
<body>
<section id="home_main_container">
    <article id="home_main">
        <img>
        <h1>iknowsteven</h1>
        <h3>Just Cool Stuff</h3>
    </article>
</section>
<article id="all_countdown_container">
    {% include countdown/AI_Study.html %}
    {% include countdown/Startup.html %}
</article>
</body>
</html>